<div ng-controller="playerController as ctrl" data-matches='ctrl.players'>
	<table class="table table-striped">
	<caption>
	<div class="row" data-ng-show="serverError !== ''" data-ng-if="serverError">
		<div class="col-xs-12">
			<div class="alert alert-danger">
				<strong>Hiba: </strong> {{ serverError }}
			</div>
		</div>
	</div>
<!--
		<div class="row">
			<div class="col-xs-3 col-xs-offset-9">
				<input type="text" class="form-control">
			</div>
		</div>
-->
	</caption>
	<thead>
		<tr>
			<th>Name</th>
			<th>Bio</th>
			<th>muvalatek</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-class="{info: $first}" data-ng-repeat="playerItem in ctrl.players">
			<td data-ng-bind="playerItem.name"></td>
			<td data-ng-bind="playerItem.bio"></td>
			<td>
				<button class="btn btn-info" data-ng-click="getPlayer(playerItem)" data-toggle="modal" data-target="#myModal">Bővebben</button>
			</td>
		</tr>
	</tbody>
	<tfoot>
	</tfoot>
</table>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <form>
				<div class="modal-body">
				<div class="form-group row">
					<label for="example-text-input" class="col-xs-2 col-form-label">name</label>
					<div class="col-xs-10">
						<input class="form-control" type="text" value="Artisanal kale" id="example-text-input" data-ng-model="ctrl.player.name">
					</div>
				</div>
				<div class="form-group row">
					<label for="example-text-input" class="col-xs-2 col-form-label">bio</label>
					<div class="col-xs-10">
						<input class="form-control" type="text" value="Artisanal kale" id="example-text-input" data-ng-model="ctrl.player.bio">
					</div>
				</div>
				<div class="form-group row">
					<label for="example-text-input" class="col-xs-2 col-form-label">caps</label>
					<div class="col-xs-10">
						<input class="form-control" type="text" value="Artisanal kale" id="example-text-input" data-ng-model="ctrl.player.caps">
					</div>
				</div>
				<div class="form-group row">
					<label for="example-text-input" class="col-xs-2 col-form-label">club</label>
					<div class="col-xs-10">
						<input class="form-control" type="text" value="Artisanal kale" id="example-text-input" data-ng-model="ctrl.player.club">
					</div>
				</div>
				<div class="form-group row">
					<label for="example-text-input" class="col-xs-2 col-form-label">date of birt</label>
					<div class="col-xs-10">
						<input class="form-control" type="text" value="Artisanal kale" id="example-text-input" data-ng-model="ctrl.player['date of birt']">
					</div>
				</div>
				<div class="form-group row">
					<label for="example-text-input" class="col-xs-2 col-form-label">goals for country</label>
					<div class="col-xs-10">
						<input class="form-control" type="text" value="Artisanal kale" id="example-text-input" data-ng-model="ctrl.player['goals for country']">
					</div>
				</div>
				<div class="form-group row">
					<label for="example-text-input" class="col-xs-2 col-form-label">league</label>
					<div class="col-xs-10">
						<input class="form-control" type="text" value="Artisanal kale" id="example-text-input" data-ng-model="ctrl.player.league">
					</div>
				</div>
				<div class="form-group row">
					<label for="example-text-input" class="col-xs-2 col-form-label">number</label>
					<div class="col-xs-10">
						<input class="form-control" type="text" value="Artisanal kale" id="example-text-input" data-ng-model="ctrl.player.number">
					</div>
				</div>
				<div class="form-group row">
					<label for="example-text-input" class="col-xs-2 col-form-label">position</label>
					<div class="col-xs-10">
						<input class="form-control" type="text" value="Artisanal kale" id="example-text-input" data-ng-model="ctrl.player.position">
					</div>
				</div>
				<div class="form-group row">
					<label for="example-text-input" class="col-xs-2 col-form-label">rating_match1</label>
					<div class="col-xs-10">
						<input class="form-control" type="text" value="Artisanal kale" id="example-text-input" data-ng-model="ctrl.player.rating_match1">
					</div>
				</div>
				<div class="form-group row">
					<label for="example-text-input" class="col-xs-2 col-form-label">rating_match2</label>
					<div class="col-xs-10">
						<input class="form-control" type="text" value="Artisanal kale" id="example-text-input" data-ng-model="ctrl.player.rating_match2">
					</div>
				</div>
				<div class="form-group row">
					<label for="example-text-input" class="col-xs-2 col-form-label">rating_match3</label>
					<div class="col-xs-10">
						<input class="form-control" type="text" value="Artisanal kale" id="example-text-input" data-ng-model="ctrl.player.rating_match3">
					</div>
				</div>
					

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" data-ng-click="updatePlayer(ctrl.player)" data-dismiss="modal">update</button>
				</div>
      </form>
    </div>
  </div>
</div>
</div>
