<div ng-controller="playerController as ctrl" data-matches='ctrl.players'>
	<table class="table table-striped">
	<caption>
	<div class="row" data-ng-show="serverError !== ''" data-ng-if="serverError">
		<div class="col-xs-12">
			<div class="alert alert-danger">
				<strong>Hiba: </strong> {{ serverError }}
			</div>
		</div>
	</div>
<!--
		<div class="row">
			<div class="col-xs-3 col-xs-offset-9">
				<input type="text" class="form-control">
			</div>
		</div>
-->
	</caption>
	<thead>
		<tr>
			<th>Name</th>
			<th>Bio</th>
			<th>muvalatek</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-class="{info: $first}" data-ng-repeat="playerItem in ctrl.players">
			<td data-ng-bind="playerItem.name"></td>
			<td data-ng-bind="playerItem.bio"></td>
			<td>
				<button class="btn btn-info" data-ng-click="getPlayer(playerItem)" data-toggle="modal" data-target="#myModal">Bővebben</button>
			</td>
		</tr>
	</tbody>
	<tfoot>
	</tfoot>
</table>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <form>
				<div class="modal-body">
					<label>name</label><input type="text" data-ng-model="ctrl.player.name"></br>
					<label>bio</label><textarea rows="4" cols="50" data-ng-model="ctrl.player.bio"/></br>
					<label>caps</label><input type="text" data-ng-model="ctrl.player.caps"></br>
					<label>club</label><input type="text" data-ng-model="ctrl.player.club"></br>
					<label>date of birth</label><input type="text" data-ng-model="ctrl.player['date of birth']"></br>
					<label>goals for country</label><input type="text" data-ng-model="ctrl.player['date of birth']"></br>
					<label>league</label><input type="text" data-ng-model="ctrl.player.league"></br>
					<label>number</label><input type="text" data-ng-model="ctrl.player.number"></br>
					<label>position</label><input type="text" data-ng-model="ctrl.player.position"></br>
					<label>rating_match1</label><input type="text" data-ng-model="ctrl.player.rating_match1"></br>
					<label>rating_match2</label><input type="text" data-ng-model="ctrl.player.rating_match2"></br>
					<label>rating_match3</label><input type="text" data-ng-model="ctrl.player.rating_match3"></br>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" data-ng-click="updatePlayer(ctrl.player)" data-dismiss="modal">update</button>
				</div>
      </form>
    </div>
  </div>
</div>
</div>
